.idea/
__pycache__/
exp*
_exp/
contras*
vicreg*
cifar*
output_log

bottle.tar.xz
bottle/
cable.tar.xz
cable/
capsule.tar.xz
capsule/
carpet.tar.xz
carpet/
grid.tar.xz
grid/
hazelnut.tar.xz
hazelnut/
leather.tar.xz
leather/
metal_nut.tar.xz
metal_nut/
pill.tar.xz
pill/
screw.tar.xz
screw/
tile.tar.xz
tile/
toothbrush.tar.xz
toothbrush/
transistor.tar.xz
transistor/
wood.tar.xz
wood/
zipper.tar.xz
zipper/
