.idea/
__pycache__/
exp*
_exp/
contras*
vicreg*
cifar*
output_log
*.tar.xz
bottle/
cable/
capsule/
carpet/
grid/
hazelnut/
leather/
metal_nut/
pill/
screw/
tile/
toothbrush/
transistor/
wood/
zipper/
